@charset "UTF-8";
.main .mainTop {
  width: 100%;
  height: 330px;
  background-image: url("../images/影院2_02.jpg");
}

.main .mainTop .mainTopContent {
  height: 330px;
  width: 1201px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.main .mainTop .mainTopContent .topLeft {
  width: 410px;
  height: 253px;
  margin-top: 39px;
}

.main .mainTop .mainTopContent .topLeft p {
  font-size: 14px;
  color: #ffffff;
}

.main .mainTop .mainTopContent .topLeft p span {
  margin-left: 6px;
  font-size: 10px;
}

.main .mainTop .mainTopContent .topLeft p button {
  padding: 0;
  width: 50px;
  height: 20px;
  border-radius: 2px;
  border: solid 1px #ffffff;
  background-color: transparent;
  font-size: 10px;
  text-align: center;
  line-height: 20px;
  color: #ffffff;
}

.main .mainTop .mainTopContent .topLeft p:nth-of-type(1) {
  font-size: 26px;
}

.main .mainTop .mainTopContent .topLeft p:nth-of-type(2) {
  margin-top: 14px;
}

.main .mainTop .mainTopContent .topLeft p:nth-of-type(3) {
  margin-top: 11px;
}

.main .mainTop .mainTopContent .topLeft p:nth-of-type(4) {
  margin-top: 15px;
}

.main .mainTop .mainTopContent .topLeft p:nth-of-type(4) span {
  display: inline-block;
  width: 340px;
  height: 1px;
  background-color: #ccc4cd;
  vertical-align: middle;
  margin-left: 14px;
}

.main .mainTop .mainTopContent .topLeft p:nth-of-type(5) {
  margin-top: 10px;
}

.main .mainTop .mainTopContent .topLeft p:nth-of-type(6) {
  margin-top: 6px;
}

.main .mainTop .mainTopContent .topLeft p:nth-of-type(7) {
  margin-top: 6px;
}

.main .mainTop .mainTopContent .topLeft p:nth-of-type(8) {
  margin-top: 6px;
}

.main .mainTop .mainTopContent .topLeft p:nth-of-type(9) {
  margin-top: 6px;
}

.main .mainTop .mainTopContent .topRight {
  width: 200px;
  height: 200px;
  background-color: white;
  margin-top: 99px;
  margin-left: 233px;
}

.main .mainTop .mainTopContent .topImg {
  position: absolute;
  top: 49px;
  left: 10px;
  width: 300px;
  height: 300px;
  background-color: #ffffff;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.23);
  z-index: 22;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main .mainTop .mainTopContent .topImg img {
  display: block;
}

.main .mainContent {
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

.main .mainContent .mcTop {
  margin-top: 68px;
  font-size: 14px;
  color: #333333;
}

.main .mainContent .mcCard1 {
  margin-top: 26px;
  width: 1200px;
  height: 280px;
  background-color: #eeeeee;
  overflow: hidden;
  position: relative;
}

.main .mainContent .mcCard1 .mccnr {
  margin-top: 22px;
  height: 235px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.main .mainContent .mcCard1 .mccnr .mcMinCard {
  width: 140px;
  height: 193px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main .mainContent .mcCard1 .mccnr .mcMinCard:first-child {
  background-color: #f99135;
}

.main .mainContent .mcCard1 .mccnr .mcMinCard img {
  display: block;
  width: 132px;
  height: 184.8px;
}

.main .mainContent .mcCard1 .mcZ {
  position: absolute;
  left: 20px;
  top: 117px;
  z-index: 15;
}

.main .mainContent .mcCard1 .mcZ img {
  display: block;
  background: transparent;
}

.main .mainContent .mcCard1 .mcY {
  position: absolute;
  right: 20px;
  top: 117px;
  z-index: 15;
}

.main .mainContent .mcCard1 .mcY img {
  display: block;
  background: transparent;
}

.main .mainContent .mcCard1 .mcX {
  position: absolute;
  left: 76px;
  bottom: 0;
  z-index: 15;
}

.main .mainContent .mcCard1 .mcX img {
  display: block;
  background: transparent;
}

.main .mainContent .mcCard2 {
  margin-top: 27px;
  width: 1200px;
  height: 90px;
  border-bottom: 1px solid #e5e5e5;
}

.main .mainContent .mcCard2 p {
  display: flex;
  align-items: center;
}

.main .mainContent .mcCard2 p:nth-child(1) {
  font-size: 26px;
  font-weight: bold;
  color: #333333;
}

.main .mainContent .mcCard2 p:nth-child(1) span {
  margin-left: 22px;
  vertical-align: middle;
  font-size: 24px;
  color: #f99135;
}

.main .mainContent .mcCard2 p:nth-child(1) span i {
  font-size: 14px;
}

.main .mainContent .mcCard2 p:nth-child(2) {
  margin-top: 27px;
}

.main .mainContent .mcCard2 p:nth-child(2) i {
  margin-left: 43px;
  font-size: 14px;
  color: #999999;
}

.main .mainContent .mcCard2 p:nth-child(2) i em {
  color: #333333;
}

.main .mainContent .mcCard2 p:nth-child(2) i:nth-of-type(1) {
  margin: 0;
}

.main .mainContent .mcNav {
  margin-top: 30px;
  width: 400px;
  height: 24px;
}

.main .mainContent .mcNav p {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #999999;
}

.main .mainContent .mcNav p i {
  margin-left: 18px;
  display: block;
  width: 90px;
  height: 24px;
  background-color: #f99135;
  border-radius: 12px;
  text-align: center;
  line-height: 24px;
  color: #ffffff;
}

.main .mainContent .mcNav p span {
  margin-left: 133px;
  color: #333333;
}

.main .mainContent .screeningInformation {
  margin-top: 29px;
  width: 1200px;
  text-align: center;
  margin-bottom: 69px;
}

.main .mainContent .screeningInformation thead tr {
  height: 53px;
}

.main .mainContent .screeningInformation thead tr th {
  color: #333333;
  background-color: #f7f7f7;
}

.main .mainContent .screeningInformation tbody tr {
  height: 82px;
  background-color: #fff;
}

.main .mainContent .screeningInformation tbody tr td {
  font-size: 14px;
  color: #333333;
}

.main .mainContent .screeningInformation tbody tr td p {
  font-size: 18px;
  font-weight: bold;
  color: #333333;
}

.main .mainContent .screeningInformation tbody tr td span {
  font-size: 12px;
  color: #999999;
}

.main .mainContent .screeningInformation tbody tr td i {
  font-size: 12px;
  color: #f03d37;
}

.main .mainContent .screeningInformation tbody tr td:nth-child(4) {
  font-size: 16px;
  font-weight: bold;
  color: #f03d37;
}

.main .mainContent .screeningInformation tbody tr td button {
  border: 0;
  padding: 0;
  width: 80px;
  height: 30px;
  background-color: #f99135;
  box-shadow: 0px 2px 6px 0px rgba(255, 157, 71, 0.65);
  border-radius: 15px;
  text-align: center;
  line-height: 30px;
  font-size: 14px;
  color: #ffffff;
}

.main .mainContent .screeningInformation tbody tr td button:active {
  background-color: #ffbb7f;
}

.main .mainContent .screeningInformation tbody tr:nth-child(even) {
  background-color: #f7f7f7;
}
