.header .header-bottom .header-b-content .c-c > li:first-child {
  background-color: #fff;
  color: #000;
}

.header .header-bottom .header-b-content .c-c > li:nth-child(3) {
  background-color: #f99135;
  color: #ffffff;
}

.main {
  width: 100%;
}

.main .nav {
  margin: 40px auto;
  width: 1200px;
  height: 274px;
  border: solid 1px #e5e5e5;
}

.main .nav .nav-text {
  width: 1150px;
  height: 67px;
  margin-top: 8.5px;
  margin-left: 19px;
  display: flex;
  border-bottom: 1px dotted #e5e5e5;
}

.main .nav .nav-text:last-child {
  border: none;
}

.main .nav .nav-text span {
  width: 50px;
  height: 28px;
  line-height: 28px;
  font-size: 14px;
  color: #999999;
  margin-right: 20px;
}

.main .nav .nav-text .text-nav {
  flex-grow: 1;
  width: 1027px;
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  color: #333333;
}

.main .nav .nav-text .text-nav li {
  height: 28px;
  margin-right: 34px;
  text-align: center;
  line-height: 28px;
  padding: 0 10px;
  border-radius: 10px;
  cursor: pointer;
}

.main .nav .nav-text .text-nav li:first-child {
  background-color: #f99135;
  color: #fffefe;
}

.main .nav .nav-text .text-area li:nth-of-type(14) {
  margin-right: 5px;
}

.main .mainTitle {
  width: 1201px;
  margin: 0px auto;
}

.main .mainTitle .m-nr {
  width: 1174px;
  height: 19px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main .mainTitle .m-nr .l {
  display: flex;
  align-items: center;
}

.main .mainTitle .m-nr .l div {
  width: 4px;
  height: 18px;
  background-color: #f99135;
}

.main .mainTitle .m-nr .l p {
  margin-left: 6px;
  font-size: 18px;
  font-weight: bold;
  color: #333333;
}

.main .mainTitle .m-nr .r {
  display: flex;
  align-items: center;
}

.main .mainTitle .m-nr .r img {
  margin-right: 5px;
  display: block;
}

.main .mainTitle .m-nr .r span {
  font-size: 13px;
  color: #666666;
}

.main .mainCard {
  width: 1201px;
  margin: 0px auto;
  margin-top: 23px;
}

.main .mainCard .m-card {
  width: 1201px;
  height: 91px;
  border-bottom: 1px dotted #e5e5e5;
  display: flex;
  justify-content: space-between;
  margin-bottom: 22px;
}

.main .mainCard .m-card .m-c-l p {
  margin: 10px 0;
}

.main .mainCard .m-card .m-c-l p:nth-of-type(1) {
  color: #333333;
}

.main .mainCard .m-card .m-c-l p:nth-of-type(2) {
  font-size: 14px;
  color: #999999;
}

.main .mainCard .m-card .m-c-l button {
  border-radius: 3px;
  border: solid 1px #509fc9;
  font-size: 12px;
  color: #509fc9;
  background-color: #fff;
  padding: 0;
  text-align: center;
  line-height: 20px;
}

.main .mainCard .m-card .m-c-l button:nth-of-type(1) {
  width: 30px;
  height: 20px;
}

.main .mainCard .m-card .m-c-l button:nth-of-type(2) {
  margin-left: 12px;
  width: 42px;
  height: 20px;
}

.main .mainCard .m-card .m-c-r {
  width: 176px;
  height: 91px;
  overflow: hidden;
  display: flex;
}

.main .mainCard .m-card .m-c-r .zuo {
  width: 76px;
  height: 91px;
}

.main .mainCard .m-card .m-c-r .zuo p {
  font-size: 14px;
  font-weight: bold;
  color: #f03d37;
}

.main .mainCard .m-card .m-c-r .zuo p span {
  margin-left: 0;
  font-size: 12px;
}

.main .mainCard .m-card .m-c-r .zuo p span:nth-of-type(1) {
  color: #f03d37;
}

.main .mainCard .m-card .m-c-r .zuo p span:nth-of-type(2) {
  color: #999999;
}

.main .mainCard .m-card .m-c-r .zuo span {
  margin-left: 8px;
  font-size: 12px;
  color: #999999;
}

.main .mainCard .m-card .m-c-r .you {
  width: 100px;
  height: 91px;
}

.main .mainCard .m-card .m-c-r .you button {
  margin-top: 5px;
  border: 0;
  width: 80px;
  height: 30px;
  background-color: #f99135;
  border-radius: 15px;
  font-size: 14px;
  line-height: 25px;
  color: #ffffff;
  cursor: pointer;
}

.main .mainFooter {
  width: 410px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 82px;
}

.main .mainFooter li {
  width: 35px;
  height: 32px;
  border: solid 1px #d8d8d8;
  color: #333333;
  text-align: center;
  line-height: 32px;
}

.main .mainFooter li:first-child {
  border: solid 1px transparent;
  background-color: #f99135;
  color: #ffffff;
}

.main .mainFooter li:last-child {
  width: 74px;
}
