@charset "UTF-8";
.header .header-bottom .header-b-content .c-c > li:first-child {
  background-color: #fff;
  color: #000;
}

.header .header-bottom .header-b-content .c-c > li:nth-child(3) {
  background-color: #f99135;
  color: #ffffff;
}

.main {
  width: 100%;
}

.main .nav {
  width: 100%;
  height: 60px;
  background-color: #47464a;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  position: relative;
}

.main .nav .nav-icon {
  width: 18px;
  height: 9px;
  position: absolute;
  top: 45px;
  left: 810px;
}

.main .nav .nav-icon img {
  width: 100%;
  height: 100%;
}

.main .nav ul {
  width: 344px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main .nav ul li {
  font-size: 16px;
  color: #999999;
}

.main .nav ul li:first-child {
  color: #f99135;
}

.main .main-contain {
  width: 1120px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 25px;
}

.main .main-contain .main-nav {
  width: 100%;
  height: 226px;
  border: solid 1px #e5e5e5;
  margin-bottom: 42px;
}

.main .main-contain .main-nav .nav-text {
  width: 1080px;
  height: 67px;
  margin: 0 auto;
  margin-top: 8.5px;
  display: flex;
  border-bottom: 1px dotted #e5e5e5;
}

.main .main-contain .main-nav .nav-text:last-child {
  border: none;
}

.main .main-contain .main-nav .nav-text span {
  width: 33px;
  height: 28px;
  line-height: 28px;
  font-size: 14px;
  color: #999999;
  margin-right: 20px;
}

.main .main-contain .main-nav .nav-text .text-nav {
  width: 1027px;
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  color: #333333;
}

.main .main-contain .main-nav .nav-text .text-nav li {
  width: 56px;
  height: 28px;
  margin-right: 15px;
  text-align: center;
  line-height: 28px;
  cursor: pointer;
}

.main .main-contain .main-nav .nav-text .text-nav li:first-child {
  width: 46px;
  background-color: #f99135;
  border-radius: 14px;
  color: #fffefe;
  font-size: 14px;
  margin-right: 24px;
}

.main .main-contain .main-nav .nav-text .text-type li:nth-child(17) {
  width: 46px;
  margin-right: 24px;
}

.main .main-contain .main-nav .nav-text .text-area li:nth-child(16) {
  width: 46px;
  margin-right: 24px;
}

.main .main-contain .main-nav .nav-text .text-year li:nth-child(15) {
  width: 46px;
  margin-right: 24px;
}

.main .main-contain .main-box {
  width: 1113px;
}

.main .main-contain .main-box .sort {
  width: 345px;
  height: 16px;
  color: #333333;
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.main .main-contain .main-box .sort span {
  height: 16px;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.main .main-contain .main-box .sort span input {
  width: 16px;
  height: 16px;
  margin: 0;
  margin-right: 5px;
}

.main .main-contain .main-box .card-box {
  width: 100%;
  height: 1200px;
  display: flex;
  flex-wrap: wrap;
}

.main .main-contain .main-box .card-box .card {
  margin-right: 20px;
  width: 162px;
  height: 287px;
}

.main .main-contain .main-box .card-box .card .card-img {
  width: 100%;
  height: 220px;
}

.main .main-contain .main-box .card-box .card .card-img img {
  width: 100%;
  height: 100%;
  display: block;
}

.main .main-contain .main-box .card-box .card p {
  width: 100%;
  height: 17px;
  line-height: 17px;
  font-size: 16px;
  color: #003333;
  text-align: center;
  margin: 13px 0 17px;
  /* 溢出省略号显示单行 */
  word-break: break-all;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.main .main-contain .main-box .card-box .card span {
  height: 20px;
  line-height: 20px;
  display: block;
  text-align: center;
  font-size: 24px;
  font-style: italic;
  color: #f99135;
}

.main .main-un {
  width: 170px;
  height: 32px;
  margin: 0 auto;
  color: #333333;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  line-height: 32px;
  margin-bottom: 80px;
}

.main .main-un .un-left {
  width: 35px;
  height: 32px;
  color: white;
  background-color: #f99135;
}

.main .main-un .un-center {
  width: 35px;
  height: 32px;
  border: solid 1px #d8d8d8;
  box-sizing: border-box;
}

.main .main-un .un-right {
  width: 74px;
  height: 32px;
  border: solid 1px #d8d8d8;
  box-sizing: border-box;
}
