.modal-dialog {
  width: 445px;
}

.modal-dialog .modal-content {
  padding: 40px;
  margin: 0;
  border: 10px solid rgba(178, 178, 178, 0.4);
  position: relative;
}

.modal-dialog .modal-header {
  padding: 0;
  justify-content: start;
}

.modal-dialog .modal-header .modal-title {
  box-sizing: border-box;
  border-bottom: 5px solid transparent;
  padding: 18px;
  color: #a3a3a3;
}

.modal-dialog .modal-header .modal-title:hover {
  border-bottom: 5px solid #fa9136;
  font-weight: bold;
  color: #333333;
}

.modal-dialog .modal-body {
  padding: 0;
}

.modal-dialog .modal-body form {
  height: 350px;
  padding: 50px 0 20px 0;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}

.modal-dialog .modal-body form .form-group {
  width: 345px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  line-height: 50px;
  margin: 0;
}

.modal-dialog .modal-body form .form-group .form-control {
  height: 50px;
  padding: 0;
  border-radius: 8px;
  background-color: #f4f4f4;
  padding-left: 15px;
  color: #999;
  font-size: 14px;
  font-weight: bold;
}

.modal-dialog .modal-body form .form-group .register {
  width: 345px;
  height: 50px;
  background-color: #fa9136;
  color: #fff;
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 20px;
  margin-top: 30px;
}

.modal-dialog .modal-footer {
  border-top: 1px solid transparent;
}

.modal-dialog .modal-footer a {
  text-decoration: none;
  color: #fa9136;
  font-size: 14px;
}

.modal-dialog .off {
  position: absolute;
  right: 0;
  top: 0;
}
