.main {
  width: 100%;
}

.main .main-contain {
  width: 1200px;
  margin: 0 auto;
}

.main .main-contain .box-top {
  width: 915px;
  margin: 0 auto;
}

.main .main-contain .box-top ul {
  width: 950px;
  display: flex;
  flex-wrap: wrap;
  margin: 62px 0 75px;
}

.main .main-contain .box-top ul li {
  display: inline-block;
  color: #fff;
  font-size: 12px;
  line-height: 20px;
}

.main .main-contain .box-top ul li:first-child, .main .main-contain .box-top ul li:nth-child(3), .main .main-contain .box-top ul li:nth-child(5), .main .main-contain .box-top ul li:nth-child(7) {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #f99135;
  margin-top: -7px;
  text-align: center;
}

.main .main-contain .box-top ul li:nth-child(2), .main .main-contain .box-top ul li:nth-child(4), .main .main-contain .box-top ul li:nth-child(6) {
  width: 270px;
  height: 5px;
  background-color: #f99135;
}

.main .main-contain .box-top ul li:last-child {
  width: 100%;
  display: flex;
  margin-left: -28px;
  justify-content: space-between;
  font-size: 14px;
  color: #f99135;
}

.main .main-contain .box-top ul li:last-child span:last-child {
  color: #999999;
}

.main .main-contain .count-down {
  width: 100%;
  height: 110px;
  background-color: #fff3f3;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding-left: 30px;
  margin-bottom: 42px;
}

.main .main-contain .count-down .count-img {
  width: 41px;
  height: 41px;
  background-image: url(../images/pay/success_icon.png);
  margin-right: 16px;
}

.main .main-contain .count-down .count-text {
  display: flex;
  flex-wrap: wrap;
}

.main .main-contain .count-down .count-text p {
  width: 100%;
  font-size: 20px;
  color: #333333;
  font-weight: bold;
}

.main .main-contain .count-down .count-text p:last-child {
  font-size: 14px;
  font-weight: normal;
  margin-top: 5px;
}

.main .main-contain .order {
  width: 100%;
  height: 210px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 61px;
  align-content: space-between;
}

.main .main-contain .order .tip {
  display: flex;
  align-items: center;
}

.main .main-contain .order .tip .tip-icon {
  width: 12px;
  height: 12px;
  background-image: url(../images/pay/yellow_tip.png);
  margin-right: 5px;
}

.main .main-contain .order .tip p {
  font-size: 12px;
  line-height: 12px;
  color: #333333;
}

.main .main-contain .order .order-list {
  width: 100%;
  height: 188px;
  border: solid 1px #e5e5e5;
}

.main .main-contain .order .order-list .list-up {
  width: 100%;
  height: 51px;
  background-color: #f7f7f7;
  line-height: 51px;
  padding-left: 20px;
  box-sizing: border-box;
}

.main .main-contain .order .order-list .list-up span {
  font-size: 14px;
  color: #333333;
}

.main .main-contain .order .order-list .list-up span:last-child {
  color: #999999;
  margin-left: 36px;
}

.main .main-contain .order .order-list .list-un {
  width: 1163px;
  height: 95px;
  margin: 20px auto 0;
  display: flex;
  align-items: center;
}

.main .main-contain .order .order-list .list-un .list-img {
  width: 68px;
  height: 93px;
}

.main .main-contain .order .order-list .list-un .list-img img {
  width: 68px;
  height: 93px;
  display: block;
}

.main .main-contain .order .order-list .list-un .list-text {
  padding: 7px 0 8px;
  margin-left: 15px;
  box-sizing: border-box;
  flex-grow: 1;
}

.main .main-contain .order .order-list .list-un .list-text p {
  color: #999999;
  font-size: 12px;
}

.main .main-contain .order .order-list .list-un .list-text p:first-child {
  color: #333333;
  font-size: 16px;
  margin-bottom: 6px;
}

.main .main-contain .order .order-list .list-un .list-text p:last-child {
  color: #f99135;
}

.main .main-contain .order .order-list .list-un .list-text p:nth-child(3) {
  margin: 4px 0;
}

.main .main-contain .order .order-list .list-un button {
  width: 80px;
  height: 30px;
  background-color: #f99135;
  box-shadow: 0px 2px 6px 0px rgba(255, 157, 71, 0.65);
  border-radius: 15px;
  color: white;
  border: none;
  font-size: 14px;
  line-height: 30px;
  margin-left: 140px;
}

.main .main-contain .order .order-list .list-un span {
  font-size: 14px;
  color: #333333;
}

.main .main-contain .order .order-list .list-un span:nth-child(3) {
  margin-right: 140px;
}
